<h1 class="page-title"> favourites </h1>
<hr class="black-hr">

<div ng-repeat="x in favourites" ng-mouseleave="showInfo = false">
  <div class="booksuggestion" ng-mouseenter="showInfo = true">
    <i class="fa fa-info-circle info-link" ng-click="wiki(x.ISBN)" ng-show="showInfo"></i>
    <div class="unlike-cont fav-cont liked" ng-click="unlike($index)" title="unlike"><i class="fa fa-heart favourite"></i></div>
    <p class="titles">{{ x.Title }}</p>
    <hr>
    <p class="author">{{ x.Author}}</p>
  </div>
</div>
