<!-- TITLE -->
<div id="title">
  <span> {{ title }} </span>
</div>

<!-- SEARCH BAR -->
<form ng-submit="submit(findBook)">
  <input id="search" type="text" ng-model="findBook" placeholder="Enter a book title" autofocus/>

  <!-- SEARCH SUGGESTIONS -->
  <div class="suggest-container" ng-show="showSuggestions(findBook)">
    <p class="suggestions" ng-click="submit(x.Title)" ng-repeat="x in bookDemo | filter : { Title : findBook } | limitTo : 4 | orderBy: 'Title'">{{ x.Title }}</p>
  </div>

  <div>
    <input id="submit" type="submit" value="search"/>
  </div>
</form>
