body {
  text-align: center;
  background-color: #efefeb;
  font-family: Abel;
  margin: 0;
}

table {
  margin: 0 auto;
}

/********** NAVI BAR ***********/
.navi {
  background-color: #333434;
  overflow: hidden;
}

.navi span {
  float: right;
  color: white;
  font-size: 30px;
  margin-top: 4px;
  margin-right: 16px;
}

.navi a {
  float: left;
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  font-size: 17px;
  color: white;
}

.navi a:hover {
  background-color: #ba6a5d;
  transition: 0.3s;
  cursor: crosshair;
}

/* Search bar */
#navisearch {
  float: left;
  margin: 14px 16px;
  border-radius: 50px;
  text-indent: 6px;
  border: none;
  outline: none;
  font-size: 10pt;
  font-family: Open Sans;
  width: 150px;
}

#navisubmit {
  visibility: hidden;
}

/* Search suggestions*/
.navisuggest-cont{
  position: fixed;
  clear: left;
  background-color: white;
  text-align: left;
  border: 1px solid #c9c9c9;
  width: 130px;
  margin-left: 210px;
  margin-top: -14px;
  font-family: Open Sans;
  font-size: 10pt;
  text-indent: 3px;
}

.navisuggestion {
  padding: 4px 0;
  margin: 0 auto;
}

.navisuggestion:hover {
  background-color: #edd3d4;
  cursor: crosshair;
}
/********** FOOTER ***********/
.footer {
  position: fixed;
  bottom: 4px;
  left: 0;
  width: 99%;
  text-align: right;
}

#credit {
  font-family: Arial;
  font-size: 12pt;
  color: #333434;
}

#credit:hover {
  transition: 0.3s;
  color: white;
}

/********** TITLE ***********/

#title {
  display: inline-block;
  margin-left: autol;
  margin-right: auto;
  font-family: Abel;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 0.5%;
  font-size: 55pt;
  font-weight: bold;
  color: black;
}

#title:hover {
  cursor: crosshair;
}

/********** HOME PAGE ***********/
form {
  display: block;
  text-align: center;

}

#search {
  padding: 2px;
  margin-bottom: 0;
  font-size: 12pt;
  width: 30%;
  text-indent: 5px;
  outline: none;
}

#submit {
  display: none;
  font-family: Open Sans;
  font-size: 11pt;
  margin-top: 1%;
  border: none;
  background-color: #f7f7f7;
  color: #7a7a7a;
  padding-left: 8px;
  padding-right: 8px;
}

#submit:hover {
  border: 1px solid #c9c9c9;
  color: black;
  background-color: #fcfcfc;
  transition: 0.2s;
}


/* SUGGESTIONS */
ul {
  list-style: none;
  text-align: left;
}

.suggest-container {
  background-color: white;
  margin: 0 auto;
  width: 30%;
  font-family: Open Sans;
  font-size: 11pt;
  text-align: left;
  text-indent: 5px;
  border: 1px solid #c9c9c9;
}

.suggestions {
  padding: 4px 0;
  margin: 0 auto;
}

.suggestions:hover {
  background-color: #edd3d4;
  cursor: crosshair;
}

/********** BOOK INFO PAGE ***********/
#book-rec-title {
  letter-spacing: 4pt;
  color: black;
  font-family: Abel;
}

.black-hr {
  border: 1px solid black;
}

.bookinfo {
  color: white;
  font-weight: normal;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ba6a5d;
  color: white;
  border-radius: 15px;
  font-family: Open Sans;
  border: 1px solid white;
}

.info  {
  margin-bottom: 0.5%;
  margin-top: 0;
  font-size: 12pt;
  font-family: Open Sans;
}

.symbol-cont {
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: white;
  margin-top: 1%;
  margin-left: 20px;
}

#symbol {
  color:  #ba6a5d;
  font-size: 40pt;
  padding-top: 21%;
}

#booktitle {
  font-size: 16pt;
  text-transform: uppercase;
  font-family: Abel;
  letter-spacing: 3pt;
}

hr {
  width: 10%;
  border: 1px solid white;
  margin-bottom: 20px;
}

/* Book suggestion container */
.booksuggestion {
  color: black;
  border-radius: 15px;
  background-color: white;
  border: 2px solid #ccced1;
  width: 450px;
  margin: 1% auto;
}

.star-cont {
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 50px;
  background-color: #9c9a9b;
  margin-top: 6.5%;
}

.star-cont:hover {
  background-color: #ba6a5d;
  color: black;
  transition: 0.3s;
}

.favourite {
  color: white;
  font-size: 20pt;
  margin: 17px auto;
}

.titles {
  text-transform: uppercase;
  font-size: 13pt;
  letter-spacing: 2pt;
  color: black;
}

.booksuggestion hr {
  border: 1px solid #ba6a5d;
}

.author {
  font-family: Open Sans;
  font-size: 10pt;
  color: #ba6a5d;
}

/********** ABOUT PAGE ***********/
#about-header {
  background-color: #636064;
  width: 70%;
  height: 200px;
  margin: 0 auto;
}

#thing {
  margin: 0 auto;
  font-size: 50pt;
  padding-top: 50px;
  color: white;
}

#about {
  background-color: white;
  width: 70%;
  height: 500px;
  text-align: center;
  font-family: Open Sans;
  font-size: 15pt;
  margin: 5px auto;
}

#about p {
  padding: 20px 0;
  margin-top: 0;
}
