body {
  text-align: center;
  background-color: #efefeb;
  font-family: Abel;
  margin: 0;
}

table {
  margin: 0 auto;
}

/********** NAVI BAR ***********/
.navi {
  background-color: #333434;
  overflow: hidden;
}

.navi span {
  float: right;
  color: white;
  font-size: 30px;
  margin-top: 4px;
  margin-right: 16px;
}

.navi a {
  float: left;
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  font-size: 17px;
  color: white;
}

.navi a:hover {
  background-color: #ba6a5d;
  transition: 0.3s;
}

/* Search bar */
#navisearch {
  float: left;
  margin: 14px 16px;
  border-radius: 50px;
  text-indent: 6px;
  border: none;
  outline: none;
  font-size: 10pt;
  font-family: Open Sans;
}

#navisubmit {
  visibility: hidden;
}

/********** FOOTER ***********/
.footer {
  position: fixed;
  bottom: 4px;
  left: 0;
  width: 99%;
  text-align: right;
}

#credit {
  font-family: Arial;
  font-size: 12pt;
  color: #333434;
}

#credit:hover {
  transition: 0.3s;
  color: white;
}

/********** TITLE ***********/

#title {
  font-family: Abel;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 0.5%;
  font-size: 55pt;
  font-weight: bold;
  color: black;
}

/********** HOME PAGE ***********/
form {
  display: block;
  text-align: center;

}

#search {
  padding: 2px;
  font-size: 12pt;
  width: 30%;
  text-indent: 5px;
  outline: none;
}

#submit {
  display: none;
  font-family: Open Sans;
  font-size: 11pt;
  margin-top: 1%;
  border: none;
  background-color: #f7f7f7;
  color: #7a7a7a;
  padding-left: 8px;
  padding-right: 8px;
}

#submit:hover {
  border: 1px solid #c9c9c9;
  color: black;
  background-color: #fcfcfc;
  transition: 0.2s;
}

ul {
  list-style: none;
}

/********** BOOK INFO PAGE ***********/
.bookinfo {
  color: white;
  font-weight: normal;
  margin: 10% auto;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #9c9a9b;
  color: black;
}

.bookinfo p {
  font-size: 12pt;
  font-family: Open Sans;
}
